@model IEnumerable<ApplicationDeveloper.Domain.Models.Trade>

    @{
        ViewBag.Title = "Index";
    }


    <h2>Index</h2>

    <div>
        <table id="trade-grid" class="table table-condensed table-hover table-striped">      
        @*<table id="trade-grid-api" class="table table-condensed table-hover table-striped">*@
            <thead>
                <tr>
                    <th data-column-id="tradeDate">
                        @Html.DisplayNameFor(model => model.TradeDate)
                    </th>
                    <th data-column-id="settleDate">
                        @Html.DisplayNameFor(model => model.SettleDate)
                    </th>
                    <th data-column-id="symbol">
                        @Html.DisplayNameFor(model => model.Symbol)
                    </th>
                    <th data-column-id="account" data-type="numeric" data-identifier="true">
                        @Html.DisplayNameFor(model => model.Account)
                    </th>
                    <th data-column-id="quantity" data-type="numeric">
                        @Html.DisplayNameFor(model => model.Quantity)
                    </th>
                    <th data-column-id="price" data-type="numeric">
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th data-column-id="principal" data-type="numeric">
                        @Html.DisplayNameFor(model => model.Principal)
                    </th>
                    <th data-column-id="currency">
                        @Html.DisplayNameFor(model => model.Currency)
                    </th>
                </tr>
            </thead>


            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TradeDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SettleDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Symbol)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Principal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Currency)
                        </td>

                    </tr>
                </tbody>

            }

        </table>

    </div>
  


@section scripts {

    <script>
        $(document).ready(function () {
            $("#trade-grid").bootgrid({
                caseSensitive: false
            });
            //$("#trade-grid-api").bootgrid({
            //    ajax: true,
            //    post: function ()
            //    {
            //        /* To accumulate custom parameter with the request object */
            //        return {
            //            id: "b0df282a-0d67-40e5-8558-c9e93b7befed"
            //        };
            //    },
            //    url: "/api/GetTrades/",
            //    formatters: {
            //        "link": function(column, row)
            //        {
            //            return "<a href=\"#\">" + column.id + ": " + row.id + "</a>";
            //        }
            //    },
            //    caseSensitive: false
            //});

        });
      
</script>
    }







